@charset "UTF-8";

body {
  background-image: url("../images/elite-bg2.png");
  background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

hr {
  background-color: dimgray;
}

#whiteBg {
  background-color: rgba(255, 255, 255, .25);
  padding-top: 4em;
  padding-bottom: 20em;
}

#countDown {
  font-size: 3em;
}

.redText {
  color: maroon;
}

.boldText {
  color: red;
}

.alfa {
  font-family: 'Rokkitt', serif;
}

.padded {
  padding-top: 25px;
}

.blackBg {
  background-color: rgba(220, 220, 220, 0.75);
  padding: 30px;
  border-top: 5px solid maroon;
}

.maroonBg {
  background-color: maroon;
  padding: 25px;
}

.img-small {
  width: 50%;
}
